html,
body {
  height: 100%;
}

body {
  background-color: #4dbd76;
  background: rgb(67, 208, 255);
  background: radial-gradient(circle, rgb(67, 208, 255) 0%, rgba(60,136,143,1) 100%);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.game {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr 40px;
  justify-items: center;
  padding: 20px 10px;
}

.scoreboard {
  width: 100%;
  text-align: center;
  color: #FFF;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
}

.start {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  position: relative;
  top: -20px;
  color: #FFF;
  height: 46px;
  width: 170px;
  border-radius: 40px;
  background: rgb(85, 68, 182);
  border: 0px solid rgb(85, 68, 182);
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: auto;
}

.meta {
  text-align: center;
  color: white;
}

.bones_logo {
  text-align: center;
}

.like_post {
  margin-top: 0px;
}

.start:focus {
  outline: none;
}

.start:active {
  box-shadow: inset 1px 1px 1px rgba(123, 67, 0, 0.49);
  outline: none;
}

@keyframes shake {
  45% { transform: translateX(0); }
  50% { transform: translateX(-6px); }
  60% { transform: translateX(6px); }
  65% { transform: translateX(0); }
}

.shake {
  animation: shake 300ms linear;
}

.field {
  width: 100%;
  max-width: 360px;
  margin: auto;
  position: relative;
  top: -30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}

.dino {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  position: relative;
}

.dino:nth-child(3n),
.dino:nth-child(3n+1){
  position: relative;
  top: 60px;
}

.dino:last-child {
  grid-column-start: 2;
  top: 0;
}

@keyframes fadeUp {
  from { 
    transform: translateY(0) scale(1); 
    opacity: 0;
  }
  to { 
    transform: translateY(-15px) scale(1.2); 
    opacity: 1;
  }
}

.fadeUp {
  animation: fadeUp 500ms ease-out;
}

.points {
  position: absolute;
  top: 0;
  opacity: 0;
  color: #ffeb3b;
  text-shadow: 1px 1px #000;
  font-family: monospace;
  font-size: 1.4em;
  font-weight: bold;
  z-index: 1;
  pointer-events: none;
}

.points--red {
  color: #EF5350;
}

@keyframes slowly-peeking {
  0% { transform: translateY(80%); }
  20% { transform: translateY(80%); }
  40% { transform: translateY(10%); }
  42% { transform: translateY(25%); }
  70% { transform: translateY(25%); }
  90% { transform: translateY(-26%); }
  97.5% { transform: translateY(-26%); }
  99% { transform: translateY(-34%); }
  100% { transform: translateY(80%); }
}

@keyframes peeking {
  10% { transform: translateY(80%); }
  25% { transform: translateY(-26%); }
  27.5% { transform: translateY(-26%); }
  29% { transform: translateY(-26%); }
  30% { transform: translateY(-26%); }
  34% { transform: translateY(-34%); }
  36% { transform: translateY(80%); }
}

.dino #Dino {
  transform: translateY(80%);
  animation: slowly-peeking 10s infinite;
}

.no-touch .dino #Dino {
  cursor: pointer;
}

svg {
  user-select: none;
  outline: none;
}

.hide {
  visibility: hidden;
  pointer-events: none;
}